/*
 * Add your CSS styles here
 * 
 */

/*div {
	border: 1px solid #F0F;
}*/

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4;
}

h1, h2, h3 {
	color: #222;
}

p {
	line-height: 24px;
	color: #555;
}

a {
	color: #999999;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
	width: 940px;
	margin: 0 auto;
}

#header  {
	border-bottom: 1px solid #999;
}

#nav {
	margin: 0 20px 0 0;
	width:110px;
	float:left;
}

#main {
	margin: 0;
	border-left: 1px solid #cccccc;
	width:800px;
	float:right;
}

#copyright {
	margin-top: 30px;
	margin-bottom: 30px;
}


/* Ignore this for now, it is special code needed to fix the layout after using the "float" rules */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }